.base {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}
.emptycart {
  width: 400px;
  min-height: 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #fff;
  margin: 60px 0;
  padding: 10px 30px 30px;
  border-radius: 5px;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000 !important;
}
