.checkPasswordComponent {
  .mth {
    font-size: 14px;
    font-weight: 600;
    color: #40485a;
    margin-left: 18px;
  }
  hr {
    border-top: 1px solid #eeeeee;
    margin: 0;
    margin-left: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .mycircle {
    color: #ddd;
    margin-right: 5px;
  }
  .activeGreen {
    color: #74a53f;
  }
}
