body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  color: #40485a;
  text-decoration: none;
}
a:hover {
  color: #83b151;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  color: #40485a;
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto !important;
}
